<section id="bar">
  <a id="settings"><i class="fa-solid fa-bars fa-2x"></i></a>
  <a href="/" id="logo">
    <div id="logo-section">
      <img src="/images/Untitled design.png" />
      <p id="image">XOXOXO</p>
    </div>
  </a>
  <nav id="nav">
    <ul>
      <!--<li><a href="/about/about.html" class="about">About</a></li>-->
      <li><a href="">Sign in</a></li>
      <li><a href="">Sign up</a></li>
      <li>
        <a id="account"><i class="fa-solid fa-circle-user fa-2x"></i></a>
      </li>
    </ul>
  </nav>
</section>
