<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/confirm/confirm.css" />
    <script src="/scripts/setting.js" defer></script>
    <title>XOXOXO | Confirm</title>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <%- include('includes/menu.ejs') %>
    <main>
      <section id="success">
        <h1>Success!</h1>
        <p>Your XOXOXO diary was successfully added to your blog</p>
        <a href="/explore">View XOXOXO blog</a>
      </section>
    </main>
  </body>
</html>
