<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="icon" href="/images/favicon.ico" type="images/x-icon" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/connect/connect.css" />
    <script src="/scripts/setting.js" defer></script>
    <title>XOXOXO | Connect</title>
  </head>
  <body>
    <section id="bar">
      <a id="settings"><i class="fa-solid fa-bars fa-2x"></i></a>
      <a href="/" id="logo">
        <div id="logo-section">
          <img src="/images/Untitled design.png" />
          <p id="image">XOXOXO</p>
        </div>
      </a>
      <nav id="nav">
        <ul>
          <!--<li><a href="/about/about.html" class="about">About</a></li>-->
          <li><a href="">Sign in</a></li>
          <li><a href="">Sign up</a></li>
          <li>
            <a id="account"><i class="fa-solid fa-circle-user fa-2x"></i></a>
          </li>
        </ul>
      </nav>
    </section>
    <div class="setting-bar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/about">Settings</a>
      <a>Mode</a>
      <a>Points</a>
      <a>Connect</a>
    </div>
    <main>
      <aside>
        <h2>Share your XOXOXO diary</h2>
        <form method='POST' id="share-diary">
          <div class="get-information">
            <label for="main-nickname">Your nickname</label>
            <input
              type="text"
              id="main-nickname"
              name="main-nickname"
              required
            />
          </div>
          <div class="get-information">
            <label for="opponent-nickname">Your friend's nickname</label>
            <input
              type="text"
              id="opponent-nickname"
              name="opponent-nickname"
              required
            />
          </div>
          <div class="get-information">
            <label for="match-name">Name for the match</label>
            <input type="text" id="match-name" name="match-name" required />
          </div>
          <div class="get-information">
            <label for="decribe">Describe your match</label>
            <input type="text" id="decribe" name="decribe" required />
          </div>
          <!--<p id="valid">Please enter a valid name!</p>-->
          <div id="button">
            <button type="submit" id="confirm">Share your diary</button>
          </div>
        </form>
      </aside>
    </main>
  </body>
</html>
