<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/images/favicon.ico" type="images/x-icon" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <script src="/scripts/setting.js" defer></script>
    <!--<link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/configuration.css" />
    <link rel="stylesheet" href="/styles/active.css" />
    <link rel="stylesheet" href="/styles/choose.css" />
    <script src="/scripts/configuration.js" defer></script>
    <script src="/scripts/active.js" defer></script>
    <script src="/scripts/app.js" defer></script>-->
    <title>XOXOXO</title>
  </head>
  <body>
    <section id="bar">
      <a id="settings"><i class="fa-solid fa-bars fa-2x"></i></a>
      <a href="/"id='logo'>
        <div id="logo-section">
          <img src="images/Untitled design.png">
          <p id="image">XOXOXO</p>
        </div>
      </a>
      <nav id="nav">
        <ul>
          <!--<li><a href="/about/about.html" class="about">About</a></li>-->
          <li><a href="">Sign in</a></li>
          <li><a href="">Sign up</a></li>
          <li><a id="account"><i class="fa-solid fa-circle-user fa-2x"></i></a></li>
        </ul>
      </nav>
    </section>
    <header>
      <h1>Welcome to <span>XOXOXO</span></h1>
      <p>Built with HTML, CSS, JavaScript and - of course - lots of love!</p>
    </header>
    <div class="setting-bar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a>Settings</a>
      <a>Mode</a>
      <a>Points</a>
      <a href="/connect">Connect</a>
    </div>
    <main id="main">
      <img src="/images/Untitled design.png" id="image-home">
      <ul id="start-button">
        <li><a href="/game" class="start">PLAY</a></li>
        <li><a href="/" class="start" id="sign-up">MODE</a></li>
        <li><a href="/" class="start" id="sign-in">SIGN IN</a></li>
      </ul>
    </main>
  </body>
</html>
