body {
  background-image: url("/images/4990858.jpg");
  background-image: url("/images/NUS-ERC.jpg");
  margin-bottom: 10rem;
}

article {
  font-family: "Pacifico", cursive;
  text-align: center;
  margin-top: 15rem;
  width: 60rem;
  border: 5px solid rgb(12, 4, 52);
  border-radius: 30px;
  /*padding: 0 150px 30px 150px;*/
  padding: 2rem;
  background-color: rgb(12, 4, 52);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

article h2 {
  color: rgb(215, 187, 247);
  font-family: "Shrikhand", serif;
  font-size: 42px;
  margin-bottom: 5rem;
}

.get-information {
  margin-bottom: 3rem;
}

article label {
  color: rgb(215, 187, 247);
  display: block;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}

article input,
article textarea {
  width: 55rem;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Shrikhand", serif;
  color: rebeccapurple;
  padding: 0.5rem;
  margin-right: 0;
}

article #matchName {
  width: 52.5rem;
}

#describe-label,
#file-label,
#commentTitle-label,
#commentContent-label {
  margin-bottom: 1rem;
}

#describe,
#fileUpload,
#commentTitle,
#commentContent {
  width: 59rem;
}

/*.get-information #matchName {
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 1rem;
  height: 3.5rem;
  width: 60rem;
}*/

#fileUpload {
  margin-bottom: 1rem;
}

/*article select {
  color: rebeccapurple;
  width: 51.3rem;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Shrikhand", serif;
  margin-bottom: 10px;
  margin-left: -7rem;
  padding: 0.5rem;
}*/

#button-update {
  display: grid;
  grid-template-columns: repeat(2, 18rem);
  justify-content: center;
  gap: 2rem;
}

article button {
  border-radius: 5px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  background-color: rgb(140, 0, 255);
  color: white;
  border: 5px solid rgb(140, 0, 255);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

article button:hover {
  background-color: rebeccapurple;
  border: 5px solid rebeccapurple;
}

#confirm-share {
  padding: 0.5rem 1rem;
}

#cancel {
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  background-color: white;
  color: rgb(140, 0, 255);
  /*border: 1px solid rgb(140, 0, 255);*/
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
}

#cancel:hover {
  background-color: rebeccapurple;
  /*border: 1px solid rebeccapurple;*/
  color: white;
}

.update-diary-matchName {
  color: goldenrod;
  text-transform: uppercase;
}

#image-preview {
  margin-top: 1rem;
  display: none;
  width: 60rem;
  border-radius: 1rem;
}

.get-information ul {
  padding: 0;
  list-style: none;
}

.get-information li {
  display: inline;
}

.get-information .charcounts {
  display: inline;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(215, 187, 247);
}

.get-information .charcounts span {
  color: darkgoldenrod;
}

.body-with-no-menu {
  margin-top: 10rem;
}