body {
  background-image: url("/images/4990858.jpg");
  margin-bottom: 300px;
}

article {
  font-family: "Pacifico", cursive;
  text-align: center;
  position: relative;
  top: 200px;
  width: 600px;
  border: 5px solid rgb(12, 4, 52);
  border-radius: 30px;
  padding: 0 150px 30px 150px;
  background-color: rgb(12, 4, 52);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 100px;
}

article h2 {
  color: rgb(215, 187, 247);
  font-family: "Shrikhand", serif;
  font-size: 42px;
  margin-bottom: 5rem;
}

.get-information {
  margin-bottom: 3rem;
}

article label {
  color: rgb(215, 187, 247);
  display: block;
  margin-bottom: 20px;
  margin-top: -10px;
  margin-left: -7rem;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}

article input {
  width: 51.3rem;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Shrikhand", serif;
  margin-bottom: 10px;
  color: rebeccapurple;
  margin-left: -7rem;
  padding: 0.5rem;
}

article textarea {
  width: 51.3rem;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Shrikhand", serif;
  margin-bottom: 10px;
  color: rebeccapurple;
  margin-left: -7rem;
  padding: 0.5rem;
}

article select {
  color: rebeccapurple;
  width: 51.3rem;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Shrikhand", serif;
  margin-bottom: 10px;
  margin-left: -7rem;
  padding: 0.5rem;
}

article #button {
  margin-left: 10px;
}

#button-update {
  display: grid;
  grid-template-columns: repeat(2, 18rem);
  justify-content: center;
  gap: 2rem;
}

article button {
  border-radius: 5px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  background-color: rgb(140, 0, 255);
  color: white;
  border: 5px solid rgb(140, 0, 255);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
}

article button:hover {
  background-color: rebeccapurple;
  border: 5px solid rebeccapurple;
}

#confirm-share {
  padding: 0.5rem 1rem;
}

#cancel {
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Shrikhand", serif;
  font-size: 28px;
  background-color: white;
  color: rgb(140, 0, 255);
  /*border: 1px solid rgb(140, 0, 255);*/
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: none;
}

#cancel:hover {
  background-color: rebeccapurple;
  /*border: 1px solid rebeccapurple;*/
  color: white;
}

.update-diary-matchName {
  color: goldenrod;
  text-transform: uppercase;
}

#image-preview {
  margin-top: 1rem;
  margin-left: -7rem;
  display: none;
  width: 52.5rem;
  border-radius: 1rem;
}