.diary-item {
  margin-top: 10rem;
  margin-left: 1rem;
}

body {
  margin: 0;
}

.add-diary {
  font-size: 54px;
  position: relative;
  margin-left: 2rem;
}

.comment {
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 36px;
  font-family: "Shrikhand", serif;
  color: rgb(215, 187, 247);
  text-align: left;
  margin-left: 4rem;
}
