<li>
  <article class="comment-item">
    <h3><%= comment.title %></h3>
    <p class="comment-item-content"><%= comment.content %></p>
    <form action="/explore/<%= diary._id %>/comment/<%= comment._id %>/delete" method="POST">
      <button class="delete">Delete comment</button>
    </form>
  </article>
</li>
