#game-active {
    display: none;
}

#game-active article {
    display: inline-block;
    color: white;
    border: 5px solid rgb(12, 4, 52);
    background: rebeccapurple;
    width: 65rem;
    padding: 0 3rem 3rem 3rem;
    display: none;
    border-radius: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 10px 10px 10px white;
}

#game-active article h3 {
    font-family: "Shrikhand", serif;
    font-size: 80px;
    margin-bottom: 40px;
    color: white
}

#click {
    font-size: 36px;
}

#textGame {
    font-size: 48px;
    margin-bottom: 4rem;
    margin-top: 5rem;
}

#active-player-name {
    text-transform: uppercase;
}

#win-display {
    color: wheat;
    text-transform: uppercase;
}

span {
    font-family: "Shrikhand", serif;
    font-weight: bolder;
    color:rgb(12, 4, 52);
}

#new-game {
    background-color: rgb(215, 187, 247);
    background: linear-gradient(45deg, #db43d9, #85b8e8);
    border: 5px solid rgb(12, 4, 52);
    color: rgb(12, 4, 52);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 36px;
    margin: 0.5rem;
}

#game-board {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(9, 7rem);
    grid-template-rows: repeat(9, 7rem);
    justify-content: center;
    gap: 0;
    margin-bottom: 100px;
    margin-top: 50px;
}

#game-board li {
    font-family: "Pacifico", cursive;
    background-color: rgb(215, 187, 247);
    background: linear-gradient(45deg, #ff7900, #0055a4);
    border: 0.1rem solid rgb(12, 4, 52);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 54px;
    font-weight: bold;
}

#game-board li:hover {
    background-color: rgb(140,0, 255);
}

#game-board li.disabled {
    background-color: rgb(140,0, 255);
    cursor: default;
}

#game-board li.finish {
    background: linear-gradient(45deg, #00ff48, #0055a4);
    cursor: default;
}