aside {
  font-family: "Pacifico", cursive;
  position: fixed;
  text-align: center;
  left: 23.5rem;
  top: 10rem;
  width: 30rem;
  border: 5px solid white;
  border-radius: 30px;
  padding: 0 150px 30px 150px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none
}

aside h2 {
  font-family: "Shrikhand", serif;
  font-size: 36px;
}

aside label {
  display: block;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
}

aside input {
  width: 24rem;
  height: 1.5rem;
  border: 2px solid rgb(140, 0, 255);
  padding: 1rem;
  border-radius: 10px;
  font-size: 28px;
  font-family: "Shrikhand", serif;
  margin-bottom: 10px;
  color:rebeccapurple;
}

aside #valid {
  color:brown;
  display: none;
  font-size: 28px;
  margin-top: 0;
}

aside #button {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  justify-content: center;
  gap: 0.5rem
}

aside button {
  display: inline;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Shrikhand", serif;
  font-size: 24px;
  margin: 0;
}


#cancel {
  color: rgb(140, 0, 255);
  border: 1px solid white;
  background-color: white;
}

#cancel:hover {
  color: rebeccapurple;
  border: 1px solid rgb(140, 0, 255);
}

