#game-configuration {
  margin-bottom: 50px;
}

#game-configuration ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  justify-content: center;
  margin: 0;
  margin-top: 5rem;
  gap: 6rem;
  padding: 0;
}

#game-configuration li {
  display: inline-block;
  padding: 0 0 1rem 0;
  background-color: rgb(12, 4, 52);
  border-radius: 50px;
  border: 10px solid rebeccapurple;
}

#game-configuration h3 {
  font-family: "Shrikhand", serif;
  font-size: 54px;
  font-weight: bolder;
  color: rgb(215, 187, 247);
  margin-bottom: -50px;
  margin-top: 30px;
  text-transform: uppercase;
}

#game-configuration article p {
  font-family: "Pacifico", cursive;
  font-size: 54px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

#game-configuration .edit {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-game {
  display: grid;
  grid-template-columns: repeat(2, 22rem);
  justify-content: center;
  margin: 0rem;
  margin-top: 5rem;
  gap: 7rem;
}

article button {
  font-family: "Shrikhand", serif;
  font-size: 36px;
  background-color: rgb(215, 187, 247);
  color: rgb(12, 4, 52);
  border: 0px;
  border-radius: 25px;
  
}

article button:hover {
  background-color: rebeccapurple;
  border: 0px;
  color: white;
}

#play {
  margin: 0;
  border-radius: 30px;
  font-family: "Shrikhand", serif;
  color: rgb(12, 4, 52);
  background-color: rgb(215, 187, 247);
  border: 5px solid rgb(12, 4, 52);
  font-size: 48px;
  box-shadow: 5px 5px rgb(12, 4, 52);
  padding: 1rem;
}

#play:hover {
  background-color: rebeccapurple;
  color: white;
}

#start {
  text-decoration: none;
  border-radius: 30px;
  font-family: "Shrikhand", serif;
  color: white;
  background-color: brown;
  border: 5px solid rgb(12, 4, 52);
  font-size: 48px;
  box-shadow: 5px 5px rgb(12, 4, 52);
  padding: 1rem;
}

#start:hover {
  background-color: rgb(117, 26, 26);
  color: white;
}
